<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Exito</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="estilo.css">
</head>

<body>
  <h1 class="mt-4">¡Producto <span th:text="${nombreProducto}"/> guardado con Exito!</h1>
  
               		<form method="get" th:action="@{/producto}">
	                    <div class="form-group"><input type="submit" class="btn btn-primary" value="Ingresar Otro Producto"></a></div>
	                </form>
</body>
</html>